h1 {
	color: red;
	font-size: xxx-large;
}

h2 {
	color: blue;
	font-size: xx-large;
}

h3 {
	color: yellow;
	font-size: x-large;
}

.red {
	color: red
}

.grande {
	font-size: xx-large;
}

.piccolo {
	font-size: xx-small;
}

.bordo-rotondo {
	border: 1px solid blue;
	border-radius: 100px;
	color: blue
}

div {
	width: 600px;
	//text-align: center;
	padding: 50px 0px 0px 50px
}
